#spotlight-wrapper div, #spotlight-wrapper span, 
#spotlight-wrapper h2, #spotlight-wrapper h3, 
#spotlight-wrapper p, #spotlight-wrapper ol, 
#spotlight-wrapper ul, #spotlight-wrapper li
{
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 12px;
	font-weight: normal;
}

#spotlight-wrapper h2, #spotlight-wrapper h3 {
	font-size: 12px;
	font-weight:bold;
}

#spotlight-wrapper ul
{
	list-style:none;
}

#spotlight-wrapper img
{
	border:0;	
}
